<a href="https://colab.research.google.com/github/ashaapoorva/Application-of-Python-Programming-in-DA-and-DL/blob/master/day_2_session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [1]:
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Student-{i+1}: ")
  d[n]=int(input(f"Enter The Marks Of Student-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(1), reverse=True)))

Enter The Number Of Students: 2
Enter The Name Of Student-1: apoorva
Enter The Marks Of Student-1: 34
Enter The Name Of Student-2: teja
Enter The Marks Of Student-2: 45
{'teja': 45, 'apoorva': 34}

2. Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [2]:
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(0))))

Enter The Number Of Students: 2
Enter The Name Of Employee-1: spandana
Enter The Salary Of Employee-1: 5000
Enter The Name Of Employee-2: arya
Enter The Salary Of Employee-2: 4000
{'arya': 4000, 'spandana': 5000}

3. Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary ascending order and sum, max, min and average of the salaries

In [3]:
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(1))))
print(f"Sum: {sum(d.values())}\nMax: {max(d.values())}\nMin: {min(d.values())}\nAverage: {sum(d.values())/len(d)}")

Enter The Number Of Students: 2
Enter The Name Of Employee-1: kavya
Enter The Salary Of Employee-1: 7000
Enter The Name Of Employee-2: kavana
Enter The Salary Of Employee-2: 8000
{'kavya': 7000, 'kavana': 8000}
Sum: 15000
Max: 8000
Min: 7000
Average: 7500.0

4. Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [4]:
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(dict([(k,v) for k,v in d.items() if 2000<v<4000]))

Enter The Number Of Students: 2
Enter The Name Of Employee-1: nakul
Enter The Salary Of Employee-1: 10000
Enter The Name Of Employee-2: sahadev
Enter The Salary Of Employee-2: 11000
{}

5. Python program to convert a 3 digit number into words

In [5]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'One hundred',200:'Two hundred',300:'three hundred',400:'four hundred',500:'five hundred',600:'six hundred',700:'seven hundred',800:'eight hundred',900:'nine hundred'}
num=int(input("Enter the integer between 100 to 999:"))
print(f"{d[num//100*100]} {d[((num//10)%10)*10]} {d[num%10]}")

Enter the integer between 100 to 999:998
nine hundred ninty eight

6.Python Program to count the total number of charaters (except blank space) in a text file.

In [13]:
input_file = input("Enter File name : ")
file_txt = open(input_file)		
text = file_txt.read()			
charc = 0	
for i in text:				
	if(i != " " and i != "\n" ):
		 charc += 1
 
print ("total num of characters: ",charc)

Enter File name : Apoorva.txt
total num of characters:  15

7.Python Program to print all the numbers present in a text file with its total number of occurrence.

In [17]:
input_file = input("Enter File name : ")
file_txt = open(input_file)		
text = file_txt.read()	
w = []	
d = dict() 
for line in text: 
    line = line.strip() 	
    if(line.isdigit()):
           w.append(line)
for j in w:
      if j in d:
        d[j] = d[j] + 1
      else: 
            d[j] = 1 
for key in list(d.keys()): 
    print(key, ":", d[key])

Enter File name : 1.txt
1 : 2
2 : 3
3 : 3
4 : 3
5 : 3
6 : 2
7 : 2
0 : 1
9 : 1
8 : 1

8.Python Program to append the contents of one file to another file by getting the both file names through keyboard .

In [18]:
name1 = input("Enter file to be read from: ")
name2 = input("Enter file to be appended to: ")
fin = open(name1, "r")
data2 = fin.read()
fin.close()
fout = open(name2, "a")
fout.write(data2)
fout.close()

Enter file to be read from: 2.txt
Enter file to be appended to: 3.txt

9.Python Program to count the number of blank spaces in a text file.

In [19]:
fname = input("Enter file name: ")
k = 0
 
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isspace):
                    k=k+1
print("Occurrences of blank spaces:")
print(k)

Enter file name: 4.txt
Occurrences of blank spaces:
29

10.Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content into another file and read it .

In [20]:
fname = input("Enter file name: ")
with open(fname, 'r') as f:
  with open("out.txt", "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
file2=open("out.txt",'r')
line=file2.readline()
while(line!=""):
    print(line)
    line=file2.readline()
file2.close()

Enter file name: 5.txt
Fname = Input("Enter File Name: ")

With Open(Fname, 'R') As F:

  With Open("Out.Txt", "W") As F1:

    For Line In F:

        L=Line.Title()

        F1.Write(L)

File2=Open("Out.Txt",'R')

Line=File2.Readline()

While(Line!=""):

    Print(Line)

    Line=File2.Readline()

File2.Close()